<div fxLayout="row" fxLayoutGap="16px">

  <div fxFlex="11">

    <button (click)="reload()">RELOAD</button>

    <div *ngIf="files">
      <ul class="list">
        <li *ngFor="let file of files" (click)="open(file)" style="cursor: pointer;" [ngClass]="{selected: videoUrl == 'http://localhost:420/' + file.name}">
          {{ file.data.timestamp | date:'dd/MM/yy HH:mm:ss' }}
        </li>
      </ul>
    </div>

  </div>

  <div fxFlex>

    <div *ngIf="videoUrl">

      <video controls>
        <source [src]="videoUrl" type="video/mp4">
      </video>

    </div>

  </div>

</div>